{% extends "base.html" %}
	{% block content_body %}
		<div class="project">
		<h3>Where did this come from?</h3>
	 		<p>I've been learning how to program by taking part in some Udacity courses. My first experience was with <a href="http://www.udacity.com/overview/Course/cs101/">Udacity's CS101 course</a>. When I built this site (May/2012) I was finishing  <a href="http://www.udacity.com/overview/Course/cs253">Udacity's CS253</a>. This is just some practice of what I've been learning.</p>
	 	</div>
		<div class="project">
	  	<h3>Why did I make this?</h3>
	  		<p>I wanted to know what other Udacity students where building, so I set up this website as a reference point.</p>
	  	</div>
		<div class="project">
		<h3>What did I use to build it?</h3>
			<p>This website is basically made in <a href="http://www.python.org">Python</a> and it is hosted on <a href="http://appengine.google.com/">Google App Engine</a>. I've also been inspired by <a href="http://www.thetoolbox.cc/">The Toolbox</a> and I used some of it's tools!</p>
		</div>
		<div class="project">
		<h3>Is the source code available?</h3>
			<p>No... Well, not yet at least. I still want to make some improvements before releasing the code. You can check out my other projects at <a href="https://github.com/gcmartinelli/HackingPot">GitHub</a>.</p>
		</div>
		<div class="project">
		<h3>Any tips for people wanting to learn how to program?</h3>
			<p>Yes! Look for courses at <a href="http://www.udacity.com">Udacity</a>, <a href="www.codecademy.com">CodeCademy</a> and <a href="www.kahnacademy.org">Khan Academy</a>. It's never been easier to learn how to program, I wish I had this opportunity sooner! Regarding what language I recommend <a href="http://udacity.blogspot.com.br/2012/05/learning-to-program-why-python.html">beginners</a>... without a doubt: Python! :)</p>
		</div>
		<div class="project">
		<h3>Where can I follow you?</h3>
			<p>My twitter is <a href="http://www.twitter.com/gcmartinelli">@gcmartinelli</a>.</p>
		</div>
	{% endblock %}